
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'dbname',
        'HOST': '127.0.0.1',
        'USER': 'dbusername',
        'PASSWORD': 'dbpassword',
        'PORT': '5432'
    }
}
