.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
    color: #ccc;
    background-color: #63afd0;
}

.navbar .navbar-default .navbar-custom .navbar-fixed-top .is-fixed .is-visible {
    position: fixed;
}

.navbar-custom .nav>li>a,
.navbar-custom .nav>li>a:hover, 
.navbar-custom .nav>li>a:focus {
    color: #ccc;
   
}

.dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover,
.dropdown-menu {
    color: #ccc;
    background-color: #63afd0;
    width: 100%;
    border: none;
}

.navbar-custom.is-fixed .nav li a {
    color: #FFF;
}

.navbar-custom.is-fixed .navbar-brand {
    color: #FFF;
}

.navbar-custom.is-fixed {
    color: #FFF;
    background-color: #63afd0;
    border: none;
}

#load-more-messages {
    display: none;
}

body {
    font-family: 'Helvetica', sans-serif;
    margin-top: 60px;
    background-color: #63afd0;
}

.container {
    background-color: #f5f5f5;
    color: #020202;
    border-radius: 15px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(20,19,20,0.49);
    -moz-box-shadow: 0px 0px 20px 10px rgba(20,19,20,0.49);
    box-shadow: 0px 0px 20px 10px rgba(20,19,20,0.49);
}

.page-title {
    text-align: center;
}

hr {
    border: solid #eee;
}
.message-meta {
    font-size: .8em;
}

#message-text-detail {
    text-align: center;
}

.message-title,
.message-title-detail {
    text-align: center;
}

#message-meta-detail {
    text-align: center;
}

#refresh-content {
    background-color: #acc4ce;
    border-radius: 5px;
}

#create-account-form {
    border: solid #2F2E5F;
    border-width: 3px;
    border-radius: 10px;
}

.btn {
    border-radius: 5px;
}

.carousel-inner {
    height: 800px;
}

.carousel-inner>.item>a>img, 
.carousel-inner>.item>img, 
.img-responsive, 
.thumbnail a>img, 
.thumbnail>img {
    margin: auto;
}

.carousel-image {
    height: 600;
    width: auto;
    margin: auto;
}


#comment-form,
#edit-message-form,
#media-link,
#quote-reference,
#edit-media-link,
#edit-quote-reference {
    display: none;
}

.quote-text {
    font-family: fantasy, cursive;
    font-style: oblique;
    text-align: center;
}

.message-reference {
    text-align: right;
    font-family: fantasy, cursive;
}

.help-block {
    font-size: .7em;
}

#right-side-navbar {
    display: none;
    border: none;
    color: #FFF;
}

#right-side-navbar a {
    color: #FFF;
}

#right-side-navbar-box {
    background-color: #2F2E5F;
    border: none;
    color: #FFF;
    width: 300px;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.logo-container {
    background-color: #CFCED3;
    border-radius: 15px;
    padding: 5px;

}

.company-title {
    color: #FF0000;
    font-size: 4em;
    font-family: futura, didot, georgia, helvetica;
}

.dropdown-menu {
    width: 15em;
}

.search-btn {
    color: #020202;
    border-radius: 5px;
    background-color: #aaa;
}

.tags {
    font-size: .8em;
    font-style: italic;
}