.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
    color: #ccc;
    background-color: #2F2E5F;
}

.navbar-custom .nav>li>a,
.navbar-custom .nav>li>a:hover, 
.navbar-custom .nav>li>a:focus {
    color: #ccc;
    background-color: #2F2E5F;    
}

.dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover,
.dropdown-menu {
    color: #ccc;
    background-color: #2F2E5F;
    width: 100%;
    border: none;
}

.navbar-custom.is-fixed .nav li a {
    color: #FFF;
}

.navbar-custom.is-fixed .navbar-brand {
    color: #FFF;
}

.navbar-custom.is-fixed {
    color: #FFF;
    background-color: #2F2E5F;
    border: none;
}

#load-more-messages {
    display: none;
}

body {
    font-family: 'Helvetica', sans-serif;
    margin-top: 60px;
    background-color: #2F2E5F;
}

.container {
    background-color: #f5f5f5;
    border-radius: 15px;
    padding: 5px;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(20,19,20,0.49);
    -moz-box-shadow: 0px 0px 20px 10px rgba(20,19,20,0.49);
    box-shadow: 0px 0px 20px 10px rgba(20,19,20,0.49);
}

.page-title {
    text-align: center;
}

hr {
    border: solid #eee;
}
.message-meta {
    font-size: .8em;
}

.message-media-div {
    width: 600px;
    height: auto;
}

#message-text-detail {
    text-align: center;
}

.message-title,
.message-title-detail {
    text-align: center;
}

#message-meta-detail {
    text-align: center;
}

#refresh-content {
    background-color: #acc4ce;
    border-radius: 5px;
}

#create-account-form {
    border: solid #2F2E5F;
    border-width: 3px;
    border-radius: 10px;
}

.btn {
    border-radius: 5px;
}




.short-message {
    border-bottom: solid #7f7f7f;
    border-width: 2px;
}


.carousel-inner>.item>a>img, 
.carousel-inner>.item>img, 
.img-responsive, 
.thumbnail a>img, 
.thumbnail>img {
    height: auto;
    width: 100%;
    margin: auto;
}

#comment-form,
#edit-message-form,
#media-link,
#quote-reference,
#edit-media-link,
#edit-quote-reference {
    display: none;
}

.quote-text {
    font-family: fantasy, cursive;
    font-style: oblique;
}

.message-reference {
    text-align: right;
    font-family: fantasy, cursive;
}

.help-block {
    font-size: .7em;
}