.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
    color: #9a9a9a;
}

.navbar .navbar-default .navbar-custom .navbar-fixed-top .is-fixed .is-visible {
    position: fixed;
}

.navbar-custom .nav li a,
.navbar-custom .nav>li>a {
    color: #9a9a9a;
   font-size: .8em;
}

.dropdown-menu>li>a:focus, 
.dropdown-menu>li>a:hover,
.dropdown-menu {
    color: #9a9a9a;
    width: 100%;
    border: none;
}

.navbar-custom.is-fixed .nav li a {
    color: #9a9a9a;
}

.navbar-custom .nav li a:hover, 
.navbar-custom .nav li a:focus,
.navbar-custom .nav>li>a:hover, 
.navbar-custom .nav>li>a:focus,
.navbar-custom .navbar-brand:hover, 
.navbar-custom .navbar-brand:focus{
    color: #505050;
}
.navbar-custom .navbar-brand,
.navbar-custom.is-fixed .navbar-brand {
    color: #9a9a9a;
}

.navbar-custom.is-fixed {
    color: #9a9a9a;
    border: none;
}

.navbar-brand {
    color: #9a9a9a;
    font-size: 1em;
}

#load-more-messages {
    display: none;
}

body {
    font-family: 'Helvetica', sans-serif;
    margin-top: 60px;
}

p {
    font-size: 1em;
}

.page-title {
    text-align: center;
}

h1, h2, h3, h4 {
    text-align: center;
}

h4 {
    font-size: 1.15em;
}

hr {
    border: solid #eee;
}
.container {
    background-color: #E6E6E6;
    color: #020202;
    border-radius: 1em;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 20px 10px rgba(20,19,20,0.49);
    -moz-box-shadow: 0px 0px 20px 10px rgba(20,19,20,0.49);
    box-shadow: 0px 0px 20px 10px rgba(20,19,20,0.49);
}

.message-meta {
    font-size: .9em;
}

#message-text-detail {
    text-align: center;
}

.message-title,
.message-title-detail {
    text-align: center;
}

#message-meta-detail {
    text-align: center;
}

#refresh-content {
    background-color: #acc4ce;
    border-radius: 5px;
}

#create-account-form {
    border: solid #2F2E5F;
    border-width: 3px;
    border-radius: 10px;
}

.btn {
    border-radius: 5px;
}

.carousel-inner {
    height: 800px;
}

.carousel-inner>.item>a>img, 
.carousel-inner>.item>img, 
.img-responsive, 
.thumbnail a>img, 
.thumbnail>img {
    margin: auto;
}

.carousel-image {
    height: 600;
    width: auto;
    margin: auto;
}

.carousel-caption {
    margin-bottom: 10em;
    vertical-align: middle;
}

#comment-form,
#edit-message-form,
#media-link,
#quote-reference,
#edit-media-link,
#edit-quote-reference {
    display: none;
}

.quote-text {
    font-family: fantasy, cursive;
    font-style: oblique;
    text-align: center;
}

.message-reference {
    text-align: right;
    font-family: fantasy, cursive;
}

.help-block {
    font-size: .8em;
}

#right-side-navbar {
    display: none;
    border: none;
    color: #FFF;
}

#right-side-navbar a {
    color: #FFF;
}

#right-side-navbar-box {
    background-color: #2F2E5F;
    border: none;
    color: #FFF;
    width: 300px;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.logo-container {
    background-color: #CFCED3;
    border-radius: 15px;
    padding: 5px;

}

#company-title {
    color: #c0c0c0;
    font-size: 8em;
    font-family: futura, didot, georgia, helvetica;
    text-align: center;
    vertical-align: middle;
    margin-top: 1.1em;
    position: relative;
    display: block;
    z-index: 1;    
}
.company-subtitle {
    color: #343740;
    text-align: center;
    font-size: 2em;
}

.dropdown-menu {
    width: 15em;
}

.search-btn {
    color: #020202;
    border-radius: 5px;
    background-color: #aaa;
}

.tags {
    font-size: .8em;
    font-style: italic;
}

.current-projects {
    background-color: #fff;
    border-radius: 1em;
}
.completed-projects {
    border-radius: 1em;
    background-color: #ccc;
    padding: 1em;
    margin: 0;
}
.project-preview {
    margin-top: 2em;
    margin-bottom: 1em;
}
.project-preview-pic {
    width: 10em;
    height: auto;
    display: block;
    margin: auto;
}
.current-project-preview-pic {
    width: 15em;
    height: auto;
    display: block;
    margin: auto;
}
.project-preview-hr{
    display: none;
}
.front-page-headline-container {
    position: relative;
    height: 29em;
    background-color: #5a89c0;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIHN0b3AtY29sb3I9IiM3YmI4ZmYiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzM5NWE4MCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 100% 100%, 0% 0%,color-stop(0, rgb(123, 184, 255)),color-stop(1, rgb(57, 90, 128)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(bottom right,rgb(123, 184, 255) 0%,rgb(57, 90, 128) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to top left,rgb(123, 184, 255) 0%,rgb(57, 90, 128) 100%);
    background-image: -ms-repeating-linear-gradient(bottom right,rgb(123, 184, 255) 0%,rgb(57, 90, 128) 100%);

}
.front-page-headline-pic {
    /*opacity: .9;*/
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 0;

}
.copyright {
    font-size: .7em;
}

@media(max-width: 990px){
    .project-preview-hr {
        display: block;
    }
}

@media(max-width:768px) {
    body {
        font-size: 1.5em;
    }
    .front-page-headline-container {
    position: relative;
    height: 29em;
    background-color: #5a89c0;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIxMDAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIHN0b3AtY29sb3I9IiM3YmI4ZmYiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzM5NWE4MCIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
    background-image: -webkit-gradient(linear, 100% 100%, 0% 0%,color-stop(0, rgb(123, 184, 255)),color-stop(1, rgb(57, 90, 128)));
    /* Android 2.3 */
    background-image: -webkit-repeating-linear-gradient(bottom right,rgb(123, 184, 255) 0%,rgb(57, 90, 128) 100%);
    /* IE10+ */
    background-image: repeating-linear-gradient(to top left,rgb(123, 184, 255) 0%,rgb(57, 90, 128) 100%);
    background-image: -ms-repeating-linear-gradient(bottom right,rgb(123, 184, 255) 0%,rgb(57, 90, 128) 100%);
    }
    .project-preview-hr {
        display: block;
    }

}