{% extends "front-base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="background-video-container">
        <img src="{% static 'img/lake.jpg' %}" alt="">
    </div>

    <div class="container-fluid jonathon-page-title">
        <div class="row">
            <div class="container">
                <div class="col-md-offset-1 col-md-10">
                    <h1>Jonathon Carlson</h1>
                    <h3>Why do I love being a web developer?</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="empty-container"></div>
    <div class="space-container">
        <div class="about-text">
            <br>
            <p>Just like my two boys,</p>
            <p>I love to explore and learn new things.</p>
            <img src="{% static 'img/boys.jpg' %}" alt="The boys playing together" class="story-pic">
            <p>I also love to create new tools and improve things that I'm working on.</p>
            <p>I love finding new problems to solve and I love to be challenged each day in what I do.</p>
            <p>I attended the Python/Django web development course at <a href="http://codingcamp.us/">Coding Campus</a>.</p>
        </div>
    </div>
    <div class="empty-container"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 about text">
                <p>I come from a military background. With over 15 years in the Utah Army National Guard, I have traveled to a lot of places and have had the good fortune of enjoying some unique experiences.</p>
                <p>I have also had the great opportunity to learn how to be self reliant and to apply myself to the tasks at hand.</p>
                <img src="{% static 'img/family_in_uniform.jpg' %}" alt="The family" class="story-pic">
            </div>
        </div>
    </div>
    <div class="empty-container"></div>
    <div class="space-container">
        <div class="about-text">
            <p>But it's not all work and no play at my house, we also like to go out and have fun together.</p>
            <p>Being a developer gives me the chance to do something I love, while also being able to spend time with those most important to me.</p>
            <img src="{% static 'img/family_play.jpg' %}" alt="Playing with the family" class="story-pic">
            <br>
            <p>Thanks for checking out my page.</p>
        </div>
    </div>
{% endblock content %}