{% extends "base.html" %}
{% block content %}
    <div class="container" di="message-detail-view">
        
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="message-title-detail">
                    <h1>{{message.title}}</h1>
                    <br>
                </div>
            </div>
        </div>
    
        <article>
            <div class="row">
                <div id="message-text-detail" class="col-md-12">
                    <p>
                        {% if message.media %}
                            <img src="{{message.media.url}}" width="100%" height="auto">
                        {% endif %}
                        {% if message.post_type == 'YTB' %}
                            <div class="video-wrapper">
                              <iframe src="{{message.link}}?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                            </div>
                        {% elif message.post_type == 'VMO' %}
                          <div class="video-wrapper">
                              <iframe src="{{message.link}}?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                          </div>
                        {% elif message.post_type == 'AUD' %}
                            <iframe width="560" height="315" scrolling="no" frameborder="no" src="{{message.link}}"></iframe>
                        {% endif %}
                    </p>
                    
                    {% if message.post_type == 'QTE' %}
                        <h2 class="quote-text">"{{message.text}}"</h2>
                        <p class="message-reference">{{message.reference}}</p>
                    {% else %}
                        <p>{{message.text}}</p>
                    {% endif %}
                </div>
            </div>
       </article>
        <div class="row">
            <div class="col-md-offset-3 col-md-6">        
                <span id="message-meta-detail" class="message-meta"> Posted by {{message.author}} {{message.date_posted|timesince}} ago.</span>
            </div>
        </div>
        {% if message.tag.count > 0 %}
        <div class="row">
            <div class="col-md-offset-3 col-md-6">        
                <span class="tags"> Tags: 
                {% for tag in message.tag.all %}
                    '{{tag}}' 
                {% endfor %}
                </span>
            </div>
        </div>
        {% endif %}
        <div class="row" id="message-id-row">       
            <div class="col-md-offset-3" data-post-id="{{message.id}}">
                {% if message in user.favorites.all %}
                    <button class="btn" id="unfavorite-btn"><i class="glyphicon glyphicon-star"></i>Un-Favorite</button>
                    {% else %}
                    <button class="btn" id="favorite-btn"><i class="glyphicon glyphicon-star"></i>Favorite</button>
                {% endif %}
                {% if message.author == user %}
                    <button class="btn" id="edit-message-btn">Edit This Message</button>
                {% endif %}
                {% if user.is_superuser %}
                    <button class="btn" id="pin-btn"><i class="glyphicon glyphicon-pushpin"></i> Pin to the home page</button>
                    <button class="btn" id="delete-message"><i class="glyphicon glyphicon-trash"></i> Delete this message</button>
                {% endif %}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-offset-3">
            {% if user.is_authenticated %}
                <button class="btn" id="create-message-comment">Post a Comment</button>
            {% endif %}
            </div>
        </div>
        <div class="row" id="comment-form">
            <form class="form-group col-sm-offset-3" method="POST" message-id="{{message.id}}" action="">
                {% csrf_token %}
                <input type="hidden" name="type" value="comment">
                <input type="hidden" name="user" value="{{user.id}}">
                <input type="hidden" name="message" value="{{message.id}}">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-9">
                            <label for="comment-content">Comment</label>
                            <textarea name="content" class="form-control" placeholder="Type your comment in here." id="comment-text-box"></textarea>
                        </div>
                    </div>
                </div>
                <button class="btn" id="submit-message-comment" type="submit">Submit</button>
            </form>
        </div>
        <form class="col-sm-offset-2 col-sm-12" enctype="multipart/form-data" id="edit-message-form" method="POST">
            {% csrf_token %}
            <input type="hidden" name="author" value="{{user.id}}">
            <input type="hidden" name="id" value="">
            <input type="hidden" name="type" value="edit">
            <div class="form-group">
                <label for="post-type">Media Type</label>
                <br>
                <select name="post_type" id="edit-post-type-selector">
                    <option value="PST" name="POST">Post</option>
                    <option value="QTE" name="QUOTE">Quote</option>
                    <option value="YTB" name="YOUTUBE">Youtube</option>
                    <option value="VMO" name="VIMEO">Vimeo</option>
                    <option value="AUD" name="AUDIO">Soundcloud</option>
                </select>
                <p class="text-danger help-block">Please select what type of post you will make.</p>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="title-input">Title</label>
                        <input type="text" class="form-control" name="title" placeholder="Title">
                        <p class="help-block">Type your message title in here.</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="message-input">Content</label>
                        <textarea class="form-control message-text-box" name="text" placeholder="Your message content"></textarea>
                        <p class="help-block">Type your content in here</p>
                    </div>
                </div>
            </div>
            <div class="form-group" id="edit-quote-reference">
                <div class="row">
                    <div class="col-sm-6">
                        <label>Quote Reference</label>
                        <input type="text" name="reference" class="form-control" placeholder="Reference">
                    </div>
                </div>
            </div>
            <div class="form-group" id="edit-media-link">
                <div class="row">
                    <div class="col-sm-6">
                        <label>Media Link</label>
                        <input type="text" name="link" class="form-control" placeholder="Type the URL to your media here">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="file-input"><i class="glyphicon glyphicon-floppy-disk"></i>Attach an image</label>
                <input type="file" name="media">
                {% if message.post_type == 'IMG' %}
                    <img src="{{message.media.url}}">
                {% endif %}
           </div>
            <button id="edit-message-button" class="btn btn-default" type="submit">Submit</button>
            <button id="cancel-button" class="btn btn-danger">Cancel</button>
        </form>
        {% if comments %}
        <div class="row" id="comments-list">
            <h2><center>Comments</center></h2>
            {% for comment in comments %}
                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        <p>{{comment.content}}</p>
                        <p>Posted by {{comment.user}} {{comment.date_posted|timesince}} ago.</p>  
                        <hr>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    
    
{% endblock content %}