{% extends "base.html" %}

{% block content %}

    <div class="container">
        <h1><center>This is message admin</center></h1>
        <div class="row">
            <div class="col-sm-10 all-messages">
                
                {% for message in messages %}
                    <div class="row" data-post-id="{{message.id}}">
                        <div class="col-sm-offset-2 col-sm-8" id="message-title">
                            <h2>{{message.title}}</h2>
                            <p>{{message.text}}</p>
                            {% if message.media %}
                                {% if message.file_type == 'IMG' %}
                                        <img id="message-media-div" src="{{message.media.url}}">
                                    {% elif message.file_type == 'VID' %}
                                        <video src="{{message.media.url}}" width="600" height="auto" controls></video>
                                    {% elif message.file_type == 'AUD' %}
                                        <audio src="{{message.media.url}}" controls></audio>
                                    {% endif %}
                            {% endif %}
                            <p>Posted by {{message.author}} on {{message.date_posted}}.</p>
                            <div>
                                <button class="btn one-message">Delete this post</button>
                            </div>
                            <hr>
                        </div>
                    </div>
                {% endfor %}
                
                
            </div>
        </div>
    </div>
{% endblock content %}